extends layout

block content
  div.input-group
    input.form-control(type='text', name='search-query', id='search-query', placeholder='Search...', autofocus)
    span.input-group-btn
      button.btn.btn-default(type='submit', name='search-btn', id='search-btn') GO
  hr
  p= 'showing ' + locations.length + ' results'
  table.result
    tr
      th
      for header in headers
        th= header
      th Facility Count
      th Facility
    for r in locations
      tr
        td
          a(href='https://www.google.com/maps/?q=' + r['Location Name']) map
        for header in headers
          td= r[header]
        td= r['FacilityCount']
        td= r['Facilities']
